mixin nav(mobile)
    nav(class=mobile)
        ul
            li: a(href="./") Home
            li: a(href="./about.html") A Metacon
            li: a(href="./investimentos.html") Investimentos
            li: a(href="./lancamentos.html") Lançamentos
            li: a(href="./portfolio.html") Portfólio
            li: a(href="./obra.html") Sua Obra 
            li: a(href="./contact.html") Contato 
            li.visible-lg: i.glyphicon.glyphicon-search.search-toggle
            
        .nav-toggle.visible-md.visible-sm.visible-xs.menu-toggle
            i.glyphicon.glyphicon-remove.remove
            
            
mixin team(image,name,pos,text)
    .carousel-item
        .col-md-6.col-ms-12
            img(src=image , alt=name, class="img-responsive")
        .col-md-6.col-ms-12
            h2.name= name
                strong= pos
                
            != text
                
mixin teamDubble(image1,image2,name1,name2,text1,text2)
    .carousel-item
        .col-md-6.col-ms-12
            .row
                .col-md-4
                    img(src=image1 , alt=name1, class="img-responsive")
                .col-md-8
                    h2.name.teamdubble=name1
                    !=text1
        .col-md-6.col-ms-12
            .row
                .col-md-4
                    img(src=image2 , alt=name2, class="img-responsive")
                .col-md-8
                    h2.name.teamdubble=name2
                    !=text2
            
mixin portfolioItem(type,image,title,link)
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.portfolio-item(data-type=type)
        a(href=link)
            figure
                img(src=image)
                span 
                    h2!=title
                    
mixin investItem(type,image,title,link)
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.investimento-item(data-type=type)
        a(href=link)
            figure
                img(src=image)
                span 
                    h2!=title
                    
mixin obraItem(type,image,title,local,resume,link)
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.obra-item(data-type=type)
        a(href=link)
            figure
                img(src=image)
                span 
                    h2!=title
                    strong!=local
                    strong!=resume
                    img(src="assets/images/icons/icon-house.png")
                    strong.uppercase acompanhe aqui
            
mixin footer()
    section.dark
        .container
            .row.text-center.footer-container
                .col-md-4.col-sm-12
                    h2.uppercase nossos serviços
                    ul
                        li
                            span 
                                i.ico.ico-hands
                                p
                                    | Parceria com investidores
                        li
                            span 
                                i.ico
                                p
                                    | Incorporação
                        li
                            span 
                                i.ico.ico-pc
                                p
                                    | Execução e acompanhamento de obra


                .col-md-4.col-sm-12
                    h2.uppercase contato
                    ul
                        li
                            span
                                i.fa.fa-map-marker
                                p.text-center
                                    | Rua Anita Garibaldi, 25 | Centro CEP: 86020-500 | Londrina - PR
                        li
                            span
                                i.fa.fa-envelope-o
                                p.text-center
                                    | email@metacon.com.br
                        li
                            span
                                i.fa.fa-phone                                
                                p.text-center
                                    | 43 3377.1600

                .col-md-4.col-sm-12
                    h2.uppercase plantão
                    ul
                        li
                            span.subtitle.blue Pioneiros Boulevard:
                            p Avenida dos pioneiros, 2665- Londrina
                        li
                            span.subtitle.blue Top Life Ortigueira: 
                            p Avenida Laurindo Barbosa de Macedo, esquina com a Rua Goiás -Ortigueira



    footer
        .container
            span Todos Direitos Reservados 2015
            a(href="http://www.agenciadzoe.com.br").developer: img(src="http://www.agenciadzoe.com.br/assets/public/images/logo.png" alt="Agência dZoë" height="30")